DATABASE_URL="mysql://user:password@localhost:3306/roblox_tracker?timezone=Z"
BOT_TOKEN="AAAAA:AAAA"
ENCRYPTION_KEY="2x6TeHUWcqRgDShwHyaqttXyM4b2MdYe"
NODE_ENV="development"
ADMIN_USER_IDS="12345678,87654321"
